@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-image: url('image/backround.jpg');
    background-size: cover; /* Để hình nền bao phủ toàn bộ khu vực */
    background-repeat: no-repeat; /* Để hình nền không lặp lại */
    background-position: center; /* Để hình nền căn giữa */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}
.container
{
    position:relative;
    width:100%;
    max-width:1000px;
    min-height:100px;
    background:#ffffff;
    display: grid;
    grid-template-columns:1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}
/**************************************************************************************************************************************************/
.container .left_side
{
    position:relative;
    background:#21218f;
    padding:40px;
}
.profile{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 20px;
border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.profile .imgbx
{
position: relative;
width: 200px;
height: 200px;
border-radius: 50%;
overflow: hidden;
}
.profile .imgbx img
{
position:absolute;
top: 0;
left: 0;
width: 100%;
height:100%;
object-fit: cover;
}
.profile h2
{
color: #ffffff;
font-size:1.2em;
margin-top:20px;
text-transform: uppercase;
text-align: center;
font-weight: 600;
line-height: 1.4em;
}
.contact
{
padding-top: 40px;
}
.title
{
    color: #fff;
    padding-top: 30px;
}
.contact ul
{
    position: relative;
    padding-top: 20px;
}
.contact ul li
{
    position: relative;
    list-style: none;
    margin:20px 0;
    cursor: pointer;
}
.contact ul li .icon
{
display: inline-block;
width: 17px;
font-size: 18px;
color: aqua;
}
.contact ul li span
{
    color: #fff;
    font-weight: 300;
}

h5
{
    color:aqua ;
}
h4
{
color: #fff;
margin-top: 10px;
font-weight: 1;
transition: color 0.5s;
}
a {
    text-decoration: none;
}
.language .percent {
    position: relative;
    height: 10px; /* Chiều cao của progress bar */
    background: rgba(255, 255, 255, 0.3); /* Nền bên dưới */
    border-radius: 5px; /* Bo tròn góc */
    overflow: hidden;
    margin-top: 5px;
    display: block;
    color: #fff;
}
.language .percent div
{
    position:absolute;
    top: 0;
    left: 0;
    height:100%;
    background: #fff;
    display: block;
    border-radius: 5px;
}
.text
{
    color: #fff;
    text-align: left;
    font-size:16px;
    transition: color 0.5s;
    text-decoration: none;
}

/**************************************************************************************************************************************************/
.container .right_side
{
    position:relative;
    background:#ffffff;
    padding:20px;
}

.about .title
{
    background-color: #21218f;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    width:100%;
    height:50px;
    display: flex;
    border-radius: 50px 50px 50px 50px;
    align-items: center;
}
.title .icon
{   padding-left: 10px;
    font-size: 20px;
    padding-bottom:25px;
    text-align: center;
}
.title h3
{   
    padding-left: 5px;
    padding-bottom:25px;
}
.work
{
    display: grid;
    grid-template-columns:1fr 2fr;
    padding-bottom: 10px;
}
.work .left
{
    position:relative;
}
.work .left ul li
{
    list-style: none;
    padding-bottom:50px;
}
.work .right
{
    position:relative;
    border-left: 4px solid #000;
}
.work .right ul
{
    padding-left: 30px;
}
.work .right ul li
{  
    padding-left: 10px;
    list-style:disc;
    padding-bottom:30px;
}
.work h4
{
   
    color: #000;
    text-transform: uppercase;
}
.work h3
{
    color: #21218f;
    padding-left: 100px;
}
.about .hobicon ul
{   
    width: 100%;
    justify-items: center;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
.about .hobicon ul li
{
  list-style: none;
}
.about .iconh
{ 
    color: #21218f;
    font-size: 30px;
    padding-bottom:25px;
    justify-items: center;
    padding-left:20px;
    margin-right: 20px;
    
}
.about .iconh2
{
    color: #21218f;
    font-size: 30px;
    padding-bottom:5px;
    justify-items: center;
    padding-left:10px;
    
}
.iconh h3
{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding-right: 100px;
}

/***********************************************transition*********************************************************/
.contact ul li .text:hover {
    color: aqua; /* Màu xanh khi di chuột vào */
}
h4:hover
{
    color: aqua;
}
